-# 商品一覧ページ(トップページ)のviewファイルです

.main
  .main-pic
    .main-pic__content
      .main-pic__content__title
        人生を変えるフリマアプリ
      .main-pic__content__message
        FURIMAはだれでもかんたんに出品・購入できる
        %br
        フリマアプリです
      .main-pic__content__btn
        .main-pic__content__btn__ap
          =link_to image_tag("app-store.png", alt: "appstore"), "https://www.apple.com/jp/ios/app-store/", class: "ap-btn"
        .main-pic__content__btn__gp
          =link_to image_tag("google-play.png", alt: "googleplay"), "https://play.google.com/store", class: "gp-btn"

.top-3
  .top-3__title
    FURIMAが選ばれる３つの理由
    .top-3__title__line
  .top-3__list
    .top-3__list__item
      .top-3__list__item__pic
        =image_tag("top2.jpg")
        .top-3__list__item__pic__num
          1
      .top-3__list__item__text1
        <span>3分</span> ですぐに出品
      .top-3__list__item__text2
        スマホで入力するだけで簡単に出品で
        %br
        きる！
    
    .top-3__list__item
      .top-3__list__item__pic
        =image_tag("top3.jpg")
        .top-3__list__item__pic__num
          2
      .top-3__list__item__text1
        <span>シンプル</span> で使いやすい
      .top-3__list__item__text2
        めんどくさい入力は必要なく、検索も
        %br 
        購入もスムーズ！

    .top-3__list__item
      .top-3__list__item__pic
        =image_tag("top4.jpg")
        .top-3__list__item__pic__num
          3
      .top-3__list__item__text1
        <span>手数料</span> 業界最安
      .top-3__list__item__text3
        最大３％でお得に出品＆購入！

.middle-pic
  .middle-pic__text
    .middle-pic__text__title
      会員数日本一位
    .middle-pic__text__message
      FURIMAは、フリマアプリで最も人気。
      %br
      出品・購入回数も業界最多です！
      %br
      ほしかったあの商品に出会えるかもしれません。
    .middle-pic__text__btn
      .middle-pic__text__btn__ap
        =link_to image_tag("app-store.png", alt: "appstore"), "https://www.apple.com/jp/ios/app-store/", class: "ap-btn"
      .middle-pic__text__btn__gp
        =link_to image_tag("google-play.png", alt: "googleplay"), "https://play.google.com/store", class: "gp-btn"

.top-images
  .top-images__title
    FURIMAの特徴
    .top-images__title__line
  
  .top-images__item
    .top-images__item__image
      .top-images__item__image__pic
        =image_tag("icon-01.png")
      .top-images__item__image__title
        簡単に売り買いできる
      .top-images__item__image__text
        スマホひとつで、いつでもどこでも簡単
        %br
        に出品・購入が可能！

    .top-images__item__image
      .top-images__item__image__pic
        =image_tag("icon-03.png")
      .top-images__item__image__title
        売上金は即日振込みに対応
      .top-images__item__image__text
        午前９時までに振込を以来いただけれ
        %br
        ば、翌日に指定の口座に入金いたします！

    .top-images__item__image
      .top-images__item__image__pic
        =image_tag("icon-04.png")
      .top-images__item__image__title
        様々な支払いに対応
      .top-images__item__image__text
        お支払いは、クレジットカードだけでな
        %br
        く、ポイントや売上金など多彩な方法が
        %br
        あります。


.picup
  .picup__title
    ピックアップカテゴリー
  .picup__box
    .picup__box__title
      新規投稿商品
    .picup__box__list
      - @items.each do |item|
        .picup__box__list__item
          .picup__box__list__item__pic
            - item.item_images.each do |image|
              = image_tag image.image
              - break
          .picup__box__list__item__name
            = item.name
          .picup__box__list__item__price
            = item.price 
