.main-pic {
  *{
    box-sizing: border-box;
  }
  box-sizing: border-box;
  background-image: url(top1.jpg);
  background-size: cover;
  width: 100%;
  height: 560px;
  padding: 0 60px;

  &__content {
    margin: 0 auto;
    padding-top: 220px;
    padding-left: 21px;
  
    

    &__title {
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 60px;
      line-height: 1.2;
      color: #fff;
    }

    &__message {
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      color: #fff;
      font-size: 18px;
      line-height: 1.7;
      margin-top: 16px;
    }

    &__btn {
      display: flex;
      margin-top: 25px;


      &__ap {
        width: 180px;
        height: 53px;
        margin-right: 10px;
        cursor: pointer;

        img {
          width: 180px;
          height: 53px;
        }
      }

      &__gp {
        width: 180px;
        height: 53px;
        cursor: pointer;

        img {
          width: 180px;
          height: 53px;
        }
      }

      img:hover {
        opacity: 0.5;
      }

    }
  }
}

.top-3 {
  *{
    box-sizing: border-box;
  }
  box-sizing: border-box;
  margin: 50px 0;
  &__title {
    text-align: center;
    font-size: 25px;
    font-weight: bold;

    &__line {
      border-top: solid 4px #3CCACE;
      width: 70px;
      margin: 10px auto;
      margin-bottom: 40px;
    }

  }

  &__list {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0 210px;
    
    &__item {
      width: 300px;

      &__pic {
        position: relative;

        &__num {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          font-size: 30px;
          color: white;
          background-color: #3CCACE;
          width: 55px;
          height: 55px;
          border-radius: 5%;
          text-align: center;
          line-height: 55px;

        }
        
        img {
          width: 100%;
        }

      }

      &__text1 {
        font-size: 23px;
        font-weight: bold;
        margin-top: 20px;
        text-align: center;

        span {
          color: #3CCACE;
        }
      }

      &__text2 {
        font-size: 17px;
        margin-top: 20px;
      }

      &__text3 {
        font-size: 17px;
        margin-top: 20px;
        text-align: center;
      }
    }
  }
}

.middle-pic {
  *{
    box-sizing: border-box;
  }
  box-sizing: border-box;
  background-image: url(top5.jpg);
  background-size: cover;
  height: 400px;
  color: white;
  text-shadow: 0 0 5px rgba(0,0,0,0.4);
  background-position: bottom right;
  position: relative;


  &__text {
    position: absolute;
    top: 25%;
    left: 13%;


    &__title {
      font-size: 26px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    &__message {
      font-size: 18px;
      margin-bottom: 25px;
    }

    &__btn {
      display: flex;

      &__ap {
        margin-right: 10px;
        
        img {
          width: 180px;
          cursor: pointer;
          
        }
      }

      &__gp {

        img {
          width: 180px;
          cursor: pointer;
          
        }
      }

      img:hover {
        opacity: 0.5;
      }

    }

  }
}

.top-images {
  *{
    box-sizing: border-box;
  }
  box-sizing: border-box;
  margin: 70px 0;

  &__title {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
  
    &__line {
      border-top: solid 4px #3CCACE;
      width: 70px;
      margin: 10px auto;
      margin-bottom: 40px;
    }
  }

  &__item {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0 210px;

    &__image {
      width: 330px;

      img {
        width: 100%;
      }
      
      &__pic {
        width: 250px;
      }

      
      &__title {
        font-size: 20px;
        font-weight: bold;
        margin-top: 20px;
        text-align: center;
        
      }
      
      &__text {
        font-size: 17px;
        margin-top: 20px;
        
      }
    }
  }

}

.picup {
  *{
    box-sizing: border-box;
  }
  box-sizing: border-box;
  background-color:#f8f8f8;
  width: 100%;
  height: 500px;

  &__title {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    padding-top: 65px;
  }

  &__box {
    
    &__title {

      font-weight: bold;
      font-size: 25px;
      text-align: center;
      color: #3CCACE;
    }

    &__list {
      display: flex;
      justify-content: space-around;
      padding: 20px 100px;

      &__item {
        width: 300px;
        height: 500px;

        &__pic {

          img {
            width: 100%;
          }
        }

        &__name {
          font-size: 16px;
        }

        &__price {
          font-size: 16px;

        }

      }
    }
  }

}
