.logout{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgb(255, 68, 68);
  height: 50px;
  width: 300px;
  color: white;
  font-size: 15px;
  border-radius: 20px;
}