.header {
  h1 {
    background-color: rgb(241, 241, 241);
    height: 61px;
  }
  nav {
    background-color: rgb(241, 241, 241);
  }
  .logo{
    img {
      height: 50px;
      margin-left: 44%;
    }
  }
}

  .form {
    text-align: center;
    &_signup-container {
      &_signup-header {
        color: red;
        font-size: 18px;
        font-weight: bold;
        height: 65px;
        margin-top: 15px;
        text-align: center;
      }
      &_registration-form {
        &_signup-container_nickname {
          .esessential-icon {
            background-color: red;
            color: white;
          }
          .nickname {
            height: 50px;
            width: 340px;
            margin-top: 10px;
            margin-bottom: 15px;
            border-radius: 5px;
            font-size: 20px;
          }
        }
        
        &_signup-container_email {
          .esessential-icon {
            background-color: red;
            color: white;
          }
          .email {
            height: 50px;
            width: 340px;
            margin-top: 10px;
            margin-bottom: 15px;
            border-radius: 5px;
            font-size: 20px;
          }
        }

        &_signup-container_password {
          .esessential-icon {
            background-color: red;
            color: white;
          }
          .password  {
            height: 50px;
            width: 340px;
            margin-top: 10px;
            margin-bottom: 15px;
            border-radius: 5px;
            font-size: 20px;
          }
        }
        
        &_signup-container_name {
          .esessential-icon {
            background-color: red;
            color: white;
          }
          .family_name {
            height: 50px;
            width: 165px;
            margin-top: 10px;
            margin-bottom: 15px;
            border-radius: 5px;
            font-size: 20px;
          }
          .first_name {
            height: 50px;
            width: 165px;
            margin-top: 10px;
            margin-bottom: 15px;
            border-radius: 5px;
            font-size: 20px;
          }
        }
        &_signup-container_name_kana {
          .esessential-icon {
            background-color: red;
            color: white;
          }
          .family_name_kana {
            height: 50px;
            width: 165px;
            margin-top: 10px;
            margin-bottom: 15px;
            border-radius: 5px;
            font-size: 20px;
          }
          .first_name_kana {
            height: 50px;
            width: 165px;
            margin-top: 10px;
            margin-bottom: 15px;
            border-radius: 5px;
            font-size: 20px;
          }
        }

        &_signup-container_birth_day {
          .esessential-icon {
            background-color: red;
            color: white;
          }
          .year {
            height: 50px;
            width: 100px;
            margin-top: 10px;
            margin-bottom: 15px;
            border-radius: 5px;
            font-size: 20px;
          }
          .month {
            height: 50px;
            width: 85px;
            margin-top: 10px;
            margin-bottom: 15px;
            border-radius: 5px;
            font-size: 20px;
          }
          .day {
            height: 50px;
            width: 85px;
            margin-top: 10px;
            margin-bottom: 15px;
            border-radius: 5px;
            font-size: 20px;
          }
        }

        &_signup-container_destination_name {
          .esessential-icon {
            background-color: red;
            color: white;
          }
          .destination_family_name {
            height: 50px;
            width: 165px;
            margin-top: 10px;
            margin-bottom: 15px;
            border-radius: 5px;
            font-size: 20px;
          }
          .destination_first_name {
            height: 50px;
            width: 165px;
            margin-top: 10px;
            margin-bottom: 15px;
            border-radius: 5px;
            font-size: 20px;
          }
        }

          &_signup-container_destination_name_kana {
            .esessential-icon {
              background-color: red;
              color: white;
            }
            .destination_family_name_kana {
              height: 50px;
              width: 165px;
              margin-top: 10px;
              margin-bottom: 15px;
              border-radius: 5px;
              font-size: 20px;
            }
            .destination_first_name_kana {
              height: 50px;
              width: 165px;
              margin-top: 10px;
              margin-bottom: 15px;
              border-radius: 5px;
              font-size: 20px;
            }
          }

          &_signup-container_postal_code {
            .esessential-icon {
              background-color: red;
              color: white;
            }
            .postal_code {
              height: 50px;
              width: 340px;
              margin-top: 10px;
              margin-bottom: 15px;
              border-radius: 5px;
              font-size: 20px;
            }
          }
          &_signup-container_prefecture {
            .esessential-icon {
              background-color: red;
              color: white;
            }
            .prefecture {
              height: 50px;
              width: 340px;
              margin-top: 10px;
              margin-bottom: 15px;
              border-radius: 5px;
              font-size: 20px;
            }
          }

          &_signup-container_city {
            .esessential-icon {
              background-color: red;
              color: white;
            }
            .city {
              height: 50px;
              width: 340px;
              margin-top: 10px;
              margin-bottom: 15px;
              border-radius: 5px;
              font-size: 20px;
            }
          }

          &_signup-container_house_number {
            .esessential-icon {
              background-color: red;
              color: white;
            }
            .house_number {
              height: 50px;
              width: 340px;
              margin-top: 10px;
              margin-bottom: 15px;
              border-radius: 5px;
              font-size: 20px;
            }
          }
          &_signup-container_building_name {
            .building_name {
              height: 50px;
              width: 340px;
              margin-top: 10px;
              margin-bottom: 15px;
              border-radius: 5px;
              font-size: 20px;
            }
          }
          &_signup-container_phone_number {
            .esessential-icon {
              background-color: red;
              color: white;
            }
            .phone_number {
              height: 50px;
              width: 340px;
              margin-top: 10px;
              margin-bottom: 15px;
              border-radius: 5px;
              font-size: 20px;
            }
          }
          &_signup-form-container {
            .submit {
              background-color: red;
              color: white;
              height: 50px;
              width: 340px;
              margin-top: 10px;
              margin-bottom: 15px;
              border-radius: 5px;
              font-size: 20px;
            }
            
          }
        }
    }  
  }
