.exhibition-container {
  padding-left: 25%;
  padding-right: 25%;
  &_registration-form {
    padding-left: 16px;
    &_addphotos {
      .esessential-icon {
        background-color: red;
        color: white;
      }
      .addphotos {
        background-color: rgb(243, 243, 243);
        height: 110px;
        width: 650px;
        margin-top: 10px;
        margin-bottom: 15px;
        margin-right: 55px;
        border-radius: 5px;
        border: dashed 2px rgb(209, 207, 207);
      }
  }
    &_item_name {
      .esessential-icon {
        background-color: red;
        color: white;
      }
      .item_name {
        height: 50px;
        width: 650px;
        margin-top: 10px;
        margin-bottom: 15px;
        border-radius: 5px;
      }
    }
    &_item_description {
      .esessential-icon {
        background-color: red;
        color: white;
      }
      .item_description {
        height: 150px;
        width: 650px;
        margin-top: 10px;
        margin-bottom: 15px;
        border-radius: 5px;
      }
    }
    &_category {
      .esessential-icon {
        background-color: red;
        color: white;
      }
      .category {
        height: 50px;
        width: 650px;
        margin-top: 10px;
        margin-bottom: 15px;
        border-radius: 5px;
      }
    }
    &_brand_name {
      .brand_name {
        height: 50px;
        width: 650px;
        margin-top: 10px;
        margin-bottom: 15px;
        border-radius: 5px;
      }
    }
    &_item_condition {
      .esessential-icon {
        background-color: red;
        color: white;
      }
      .item_condition {
        height: 50px;
        width: 650px;
        margin-top: 10px;
        margin-bottom: 15px;
        border-radius: 5px;
      }
    }
    &_charge {
      .esessential-icon {
        background-color: red;
        color: white;
      }
      .charge {
        height: 50px;
        width: 650px;
        margin-top: 10px;
        margin-bottom: 15px;
        border-radius: 5px;
      }
    }
    &_area {
      .esessential-icon {
        background-color: red;
        color: white;
      }
      .area {
        height: 50px;
        width: 650px;
        margin-top: 10px;
        margin-bottom: 15px;
        border-radius: 5px;
      }
    }
    &_day {
      .esessential-icon {
        background-color: red;
        color: white;
      }
      .day {
        height: 50px;
        width: 650px;
        margin-top: 10px;
        margin-bottom: 15px;
        border-radius: 5px;
      }
    }
    &_price {
      width: 97.4%;
      .esessential-icon {
        background-color: red;
        color: white;
      }
      .price {
        height: 50px;
        width: 150px;
        float: right;
      }
    }
    .exhibition {
      margin-top: 60px;
      margin-bottom: 15px;
      width: 50%;
      background-color: red;
      color: white;
      font-size: 17px;
    }

}}