.profile-main {
  width: 700px;
  margin-left: 40px;
  &__head {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    padding: 8px 24px;
    border-bottom: 2px solid whitesmoke;
  }
  &__container {
    padding: 20px;
    .form-group {
      margin-top: 40px;
      font-size: 14px;
      text-align: center;
      label {
        font-weight: bold;
      }
      p {
        margin-top: 8px;
      }
    }
  }
}