.appBanner
  .appBanner__inner
    .appBanner__inner__title
      だれでもかんたん、人生を変えるフリマアプリ
    .appBanner__inner__text
      今すぐ無料ダウンロード!
    .appBanner__inner__icon
      =link_to image_tag("app-store.png", alt: "appstore"), "https://www.apple.com/jp/ios/app-store/", class: "ap-btn"
      =link_to image_tag("google-play.png", alt: "googleplay"), "https://play.google.com/store", class: "gp-btn"

.fooder
  .fooder__contents
    .fooder__contents__content
      %ul.fooder__contents__content__header
        FURIMAについて
      %li.fooder__contents__content__list
        会社概要(運営会社)
      %li.fooder__contents__content__list
        プライバシーポリシー
      %li.fooder__contents__content__list
        FURIMA利用規約
      %li.fooder__contents__content__list
        ポイントに関する特約
    .fooder__contents__content
      %ul.fooder__contents__content__header
        FURIMAを見る
      %li.fooder__contents__content__list
        カテゴリー一覧
      %li.fooder__contents__content__list
        ブランド一覧
    .fooder__contents__content
      %ul.fooder__contents__content__header
        ヘルプ&ガイド
      %li.fooder__contents__content__list
        FURIMAガイド
      %li.fooder__contents__content__list
        FURIMAロゴ利用ガイドライン
      %li.fooder__contents__content__list
        お知らせ
  .fooder__logo
    =link_to image_tag("logo2.png", alt: "logo"), root_path, class: "image"
    .fooder__logo__name
      © FURIMA
- if user_signed_in?
  .purchasebtn
    .purchasebtn__text
      出品する
    .purchasebtn__icon
      =link_to image_tag("camera.png", alt: "出品アイコン"), new_item_path, class: "sp-btn"