.header
  .header-bar
    .header-bar__main-header
      .header-bar__main-header__icon
        =link_to image_tag("logo.png", alt: "furimaアイコン"), root_path, class: "image"
      .header-bar__main-header__searchbox
        .header-bar__main-header__searchbox__text
          %input{placeholder:  "キーワードから探す"}
        .header-bar__main-header__searchbox__btn
          =link_to image_tag("icon-search1.png", alt: "サーチアイコン"), "/", class: "s-btn"
        
    .header-bar__navbar
      .header-bar__navbar__menu
        .header-bar__navbar__menu__category
          カテゴリー
        .header-bar__navbar__menu__brand
          =link_to "ブランド", '#'
      .header-bar__navbar__user
        .header-bar__navbar__user__login
          =link_to "ログイン", new_user_session_path
        .header-bar__navbar__user__new
          =link_to "新規会員登録", new_user_registration_path
